@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');

h1 {
    font-family: 'Ranchers', sans-serif;
    color: rgba(248, 248, 9, 0.815);
    font-size: 6rem;
}
hh {
    font-family: 'Ranchers', sans-serif;
    color: rgb(26, 22, 22);
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    /* background-image: url('back1.jpg'); */
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
.zone {
    cursor:pointer;
    color:white;
    font-size: 2em;
    border-radius: 4px;
    transition: all 0.3s linear;
}
.zone:hover {
    box-shadow: skyblue;
}
.header {
    background: rgba(16, 17, 17, 0.815);
}
.title {
    background-image:url('back4')
}
.works {
    text-align: center;
    background-color: rgb(59, 159, 241);
}
.main-nav {
    display: flex;
    list-style: none;
    font-size: 0.7em;
    margin: 0;
}
@media only screen and (max-width:600px) {
    .main-nav {
        font-size: 0.5rem;
        padding: 0;
    }

}
.push {
    margin-left: auto;
}
li {
    padding:20px;
}
a {
    color:#f6f5f6;
    text-decoration: none;
}
/* cover */
.container {
    background-image:url('back4,jpg');
    border-bottom: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

/* grid */
.grid-wrapper {
    border: 0;
    margin: 0;
    display: grid;
    grid-gap:20px;
    grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
}
.box > img {
    width: 100%;
}
.box {
    background-color:rgb(30, 39, 65);
    padding: 50px;
    margin: 10px;
    border-radius: 20px;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


































